@page
@model IndexModel
@{
    ViewData["Title"] = "Konrad Glowacki";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konrad Glowacki Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome for icons -->
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="profile">
                <h2>Konrad Glowacki Portfolio</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </nav>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/konrad-glowacki-0325301b3/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:93konrad@gmail.com" target="_blank" class="social-icon"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/kapelmajster" target="_blank" class="social-icon"><i class="fab fa-github"></i></a>
            </div>
        </aside>
        <main class="content">
            <section id="about">
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel risus luctus, vulputate urna posuere, ornare nisi. Morbi porttitor nisi eu vestibulum imperdiet. Morbi suscipit mi vitae tortor rutrum, a eleifend turpis tempor. Suspendisse commodo ornare justo vel imperdiet. Maecenas purus risus, finibus vitae placerat sit amet, sodales nec ex. Curabitur maximus ac nunc vel tempus. Vestibulum in lorem eu purus placerat ultrices at ac lectus. Duis dapibus dolor mauris, sit amet laoreet ante rutrum at. Nam commodo fermentum quam eget elementum. In accumsan, eros eu laoreet gravida, diam neque scelerisque lorem, nec pulvinar lacus quam vel ipsum. Proin vel nibh ac leo posuere tempus a sed ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                    Duis venenatis leo sed ipsum eleifend finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce et nulla eget magna accumsan auctor quis vel urna. Quisque commodo tortor id lorem bibendum, et scelerisque est pulvinar. Aenean accumsan ornare nibh nec malesuada. Curabitur mattis dui vel neque scelerisque, non aliquet libero vestibulum. Quisque pellentesque sit amet elit vitae interdum. Maecenas sem neque, sodales a bibendum ac, scelerisque vitae velit. Aliquam non eros enim. Aliquam in mauris ornare, vulputate diam quis, cursus diam. Proin dapibus non sem sed mollis. Donec eget lectus sit amet sem tristique feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                    Aliquam quis tortor vulputate, faucibus massa at, scelerisque odio. Suspendisse placerat sodales metus posuere euismod. Etiam sodales dui in leo egestas vehicula. Proin mattis molestie diam vitae iaculis. Integer ut scelerisque felis. Nunc vitae rhoncus mi. Donec eget nibh convallis, convallis sem nec, tristique urna. Aenean velit magna, suscipit quis massa ac, finibus scelerisque felis.

                    Cras ut lorem vel nisl elementum ultrices. Nunc congue auctor ex sed egestas. Vivamus luctus, turpis ac bibendum molestie, felis odio ornare tellus, sit amet rhoncus magna tellus efficitur est. Suspendisse efficitur lacus et orci viverra maximus. Sed dolor eros, lacinia commodo laoreet ut, rhoncus eget libero. Vivamus ut ipsum dui. Aliquam erat volutpat. Phasellus sed leo rutrum, suscipit mauris ac, rhoncus augue.

                    Proin sollicitudin viverra augue et maximus. Sed ut massa nisl. Cras lacus elit, rhoncus sed gravida vel, bibendum ac ante. Maecenas tempor dui sed quam tempus fermentum. Sed accumsan imperdiet nibh. Cras at sollicitudin odio. Duis elementum, felis vel malesuada eleifend, massa tortor dignissim leo, nec ultrices ante elit eget felis.

                    Donec eleifend dictum neque, sed hendrerit magna sollicitudin ut. Aliquam sit amet auctor odio, varius volutpat dui. Nam egestas enim felis, sed gravida justo luctus quis. Fusce nec aliquet erat. Maecenas elementum lectus libero, non condimentum neque lobortis ut. Nulla facilisi. Morbi dui dolor, egestas vel consectetur id, varius at lectus.

                    Aliquam rhoncus sit amet felis in viverra. Proin nisi mi, tincidunt viverra justo vitae, convallis egestas dolor. Vivamus pulvinar dapibus nibh at venenatis. Pellentesque sit amet faucibus enim. Nullam sagittis lacinia nibh ac vulputate. Vivamus egestas elit sit amet euismod pretium. Sed ornare, ante in tempus tempus, turpis sapien interdum ligula, vitae fermentum diam.
                </p>
            </section>
            <section id="projects">
                <div class="project">
                    <a href="https://github.com/kapelmajster/Library-system" target="_blank" class="project-link">
                        <h4>The Lending Library Management System</h4>
                        <p>
                            The Lending Library Management System is my first programming project, and was written in Java. This project enables the management of member registrations, book inventories
                            and loan records, enabling the library to effectively track its operations. Created using the Eclipse IDE, this project implements core object-oriented principles
                            such as encapsulation, inheritance, and polymorphism, providing a scalable and easy-to-maintain code base. Key features include adding and removing members and books,
                            searching records, and managing loan transactions.
                        </p>
                    <div class="languages">
                        <span class="language-badge">Java</span>
                    </div>
                    </a>
                </div>
                <div class="project">
                    <a href="https://github.com/kapelmajster/Interactive-Corridor-Display-System" target="_blank" class="project-link">
                    <h4>Interactive Corridor Display System</h4>
                        <p>
                            The Interactive Corridor Display System is a project aimed at enhancing the corridor of the School of Arts & Digital Technologies in University of Bolton with modern,
                            interactive display solutions. The system includes two types of screens: large corridor carousel screens and smaller room timetable screens.
                            The corridor carousel screens display a rotating carousel of information relevant to computing students, such as text, animations, graphics, and video clips.
                            The content is prioritized and scheduled with specific display durations, embargo dates, and expiry dates, and supports various transition effects and
                            customisable text layouts.
                        </p>

                        <p>
                            The room timetable screens are placed outside each classroom door and display real-time information about the current and upcoming classes, including the start and end times,
                            module name and code, and lecturer details. These screens also show the room name and a short biography of the person the room is named after.
                        </p>

                        <p>
                            The project was developed using Visual Studio 2022 and the C# programming language, leveraging the .NET 7 framework. The UI was built using the ASP.NET Blazor framework,
                            while the Entity Framework was used for back-end database access and management with MS SQL Server. For authentication and authorization, ASP.NET Identity was employed.
                            Additionally, ASP.NET Web API was used to create RESTful API endpoints. The system includes a staff admin interface with role-based access control, allowing authorised
                            staff to manage content and user accounts securely.
                        </p>
                    <div class="languages">
                        <span class="language-badge">C#</span>
                        <span class="language-badge">.NET 7</span>
                        <span class="language-badge">ASP.NET Blazor</span>
                        <span class="language-badge">Entity Framework</span>
                        <span class="language-badge">MS SQL Server</span>
                        <span class="language-badge">ASP.NET Identity</span>
                        <span class="language-badge">ASP.NET Web API</span>
                    </div>
                    </a>
                </div>
                <div class="project">
                    <a href="https://github.com/kapelmajster/Credit-card-fraud" target="_blank" class="project-link">
                    <h4>Machine Learning Credit Card Fraud Detection System</h4>
                    <p>
                        The Machine Learning Credit Card Fraud Detection System is a project aimed at identifying fraudulent credit card transactions.
                        This system leverages machine learning algorithms to analyze transaction patterns and detect anomalies indicative of fraudulent activity.
                        Developed using Python and key libraries such as Scikit-Learn, Pandas, and NumPy, the project incorporates various data preprocessing techniques, and model
                        training processes to achieve high accuracy in fraud detection.
                        The system utilises a combination of supervised learning algorithms, including Logistic Regression, 'Support Vector Machine, K-Nearest Neighbors , Decision Tree,
                        Random Forest, and Gradient Boosting, to classify transactions as legitimate or fraudulent. Additionally, the project employs performance metrics such as precision,
                        recall, F1-score, and confusion matrix to evaluate and compare the effectiveness of different models.
                    </p>
                    <div class="languages">
                        <span class="language-badge">Python</span>
                    </div>
                    </a>
                </div>
                <div class="project">
                    <a href="https://github.com/kapelmajster/House-Price-Prediction" target="_blank" class="project-link">
                    <h4>House Price Prediction</h4>
                    <p>
                        This project I have developed a comprehensive machine learning model to predict property prices in the United Kingdom.
                        I used 3 datasets that were thoroughly cleaned and pre-processed to ensure data quality, including handling missing values, correcting inconsistencies,
                        and standardising data formats to create a robust dataset for analysis. The next stage of the project was to combine these three datasets to create a solid basis
                        for further analysis and to increase descriptive property characteristics.
                    </p>

                    <p>
                        The project then moved to the application development phase, during which a user-friendly application was created using Python and the Flask framework.
                        This app allows users to enter property characteristics and receive real-time property value forecasts. The app is designed to be intuitive and accessible,
                        making it a great tool for real estate investors and potential home owners who want to make informed decisions in the real estate market.
                    </p>

                    <p>
                        This two-phase approach not only demonstrates the practical application of machine learning theory in real-world scenarios, but also demonstrates
                        the integration of data science and software development skills to create a functional tool.
                    </p>
                    <div class="languages">
                        <span class="language-badge">Python</span>
                        <span class="language-badge">Flask</span>
                        <span class="language-badge">JavaScript</span>
                        <span class="language-badge">HTML</span>
                        <span class="language-badge">CSS</span>
                    </div>
                    </a>
                </div>
            </section>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
